@import 'styles/breakpoints.scss';
@import 'styles/variables.scss';

.thumbnails__thumbnail {
  margin: 5% 0;
  cursor: pointer;
  flex-basis: 37%;

  @include breakpoint(xs){
    flex-basis: 50%;
    padding: $padding / 2;
  }

  img {
    width: 100%;
  }
}
