@import 'styles/breakpoints.scss';
@import 'styles/variables.scss';

.thumbnails__thumbnail {
  padding: $padding / 2;
  margin: 10px auto;
  box-sizing: border-box;
  cursor: pointer;
  flex-basis: 100%;
  @include breakpoint (sm) {
    flex-basis: 50%;
  }

  img {
    width: 100%;
  }
}
