@import 'styles/breakpoints.scss';
@import 'styles/variables.scss';

.thumbnails__thumbnail {
  cursor: pointer;
  display: inline;
  position: relative;

  &--image {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
  }

  a {
    position: relative;
    transition: color 300ms $ease;

    &::after {
      content: ' / ';
    }

    &:hover {
      color: $background-color;
      z-index: 400;

      &::after {
        opacity: 0;
      }
    }
  }
}
