$padding: 20px;

.viewer {
  width: 100%;

  &__header {
    margin: 0 $padding 2em;

    &__title {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    h1 {
      font-size: 1.25em;
    }
  }

  &__close {
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    top: 0.06em;
    cursor: pointer;
  }

  &__desc {
    max-width: 25em;
    margin: 0.5em auto;
    letter-spacing: 0.01em;
  }

  &__imageContainer {
    background: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
    padding: ($padding* 1.5) $padding $padding $padding;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__text {
      text-align: center;
      padding-top: $padding;
      user-select: none;
      cursor: pointer;

      span {
        padding: 0 .75em;
      }
    }

    &__image{
      flex: 1;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: none;

      &.-active {
        display: block;
      }
    }
  }
}
