@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image {
    flex: 1;
    overflow: scroll;
    padding: $padding;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: none;

      &.-active {
        display: block;
     }
    }
  }

  &__text {
    display: block;
    flex: 0;

    &__item {
      padding: 0 $padding;
      line-height: 2.5em;

      @include breakpoint (sm) {
        flex: 1;

        &--index {
          text-align: center;
        }

        &--info {
          text-align: right;
        }
      }

      &--title {
        flex: 1;
      }
    }

    &--inner {
      display: flex;
    }
  }

  &__nav {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;

    &__item {
      height: 100%;
      width: 50%;
      top: 0;
      position: absolute;

      &--next {
        left: 50%;
      }
    }
  }
}
