body {
  font-family: sans-serif;
  font-size: 3vw;
  line-height: 1.2;
  word-spacing: -.07em;
}

h1{
  font-size: 1.75em;
}

.title {
  text-align: center;
  margin: 1.7em 0;
}

.thumbnails {
  display: flex;
  margin: 0px auto;
  margin-top: -2%;
}
