body {
  font-family: sans-serif;
  font-size: 25px;
  line-height: 1.2;
  word-spacing: -.07em;
}

h1{
  font-size: 1.75em;
}

.title {
  // text-align: center;
  padding: 2%;
  margin: 1.7em 0;
}

.thumbnails {
  display: flex;
  margin: 0px auto;
  margin-top: -2%;
}
