@import 'styles/breakpoints.scss';
@import 'styles/variables.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  font-family: 'helvetica neue', 'helvetica', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing:-.03em;
  color: $text-color;

  @include breakpoint(sm) {
    font-size: calc(1.5vw + 1.5vh);
  }
}

h1 {
  font-size: 1.75em;
}

a {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
}

.title {
  font-size: 1em;
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding;
  line-height: 2.5em;
}

.loading {
  font-size: 8vw;
  width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
